# Fingerprint
service vendor.goodix_script /vendor/bin/init.goodix.sh
    class late_start
    user system
    group system
    oneshot

# HVDCP
on boot
    enable vendor.hvdcp_opti

# IR
on boot
    chown system system /sys/class/leds/infrared/transmit
    chown system system /sys/class/leds/infrared/brightness
